h1{
    display: flex;
    justify-content: center;
}

#label{
}

#email{
    color: black;
    background-color: #f8f8ff;
    border-radius: 5px;
    height: 25px;
    padding: 2px;
}

#senha{
    color: black;
    background-color: #f8f8ff;
    border-radius: 5px;
    height: 25px;
    padding: 2px;
}

a{
    margin-top: 10px;
}

body{
    background-color: #121214;
    color: #ccd0cf;
}

#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    align-items: center;
    height: 100vh;
}

#container2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    gap: 5px;
}

#botao{
    gap: 2px;
    border-radius: 5px;
    height: 40px;
    width: 30%;
    flex-direction: column;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

